@charset "UFT-8";

/* Assignment 11: Random Design Co. */

/*Globals*/

html {
  box-sizing: border-box;
  margin: 0 auto;
}

/*, *:before, *:after {
  box-sizing: inherit;
}*/

body {
  line-height: 1.4em;
  max-width: 51.125em;
  margin: 5em auto;
  padding: 0.625em;
  font: url(/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf);
}

/*Page Header*/
.page-header {
	border: 1px solid #292929;
	background-color: #292929;
	max-width: 100%;
	padding: 0em 1em 0em 0em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.page-header h1 {
	color: #fff;
	font: url(/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf);
	text-transform: uppercase;
	font-size: 1.25em;
	padding: 1em 0em 0em .5em;
	background: url('../img/menu-icon.jpg') no-repeat right;
	height: 3em;
}

/*Menu*/

/*Featured*/

.featured {
	background: url(../img/purple-bg.jpeg);
	padding: 4em 0em 6em 0em;
	border-bottom: 1px solid #E5E5E5;
}

.featured h2 {
	font-size: 3em;
	line-height: 1em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: .5em;
}

.featured h2 span{
	display: list-item;list-style:none;
}	

.featured p {
	text-align: center;
	text-transform: uppercase;
}

.featured a:link {
	font-size: 2em;
	color: #fff;
	border: 2px solid #fff;
	padding: .75em;
}

.featured a:hover {
	background-color: #fff;
	color: #000000;
}

/*About Us*/
.about-us {
	margin: 1em .5em;
	padding: .5em .25em;
	line-height: 1.5em;
	font-size: 1.25em;
	border-bottom: 1px solid #E5E5E5;

}

/*Latest Work*/
.latest-work {
	margin: 1em .5em;
	padding: .5em .25em;
	line-height: 1.5em;
	font-size: 1.25em;
	border-bottom: 1px solid #E5E5E5;
	position: relative;
}

.project {
	border: 1px solid red;
	width: 50%;
	height: 6em;
	float: left;
	position: absolute;
	top: 0;
	right: 0;

}

.latest-projects {
	overflow: auto;
}
/*Page Footer*/
.page-footer {
	border: 1px solid orange;
	text-align: center;
}
